# Variables locales de desarrollo
# Docker Compose / PostgreSQL del contenedor
POSTGRES_DB=piedrazul_dev
POSTGRES_USER=piedrazul_user
POSTGRES_PASSWORD=piedrazul_pass

# pgAdmin (contenedor)
PGADMIN_DEFAULT_EMAIL=admin@piedrazul.com
PGADMIN_DEFAULT_PASSWORD=admin

# Keycloak (contenedor Docker)
KC_HOSTNAME=localhost
KC_HOSTNAME_PORT=8180
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
KC_HEALTH_ENABLED=true
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak_db
KC_DB_USERNAME=piedrazul_user
KC_DB_PASSWORD=piedrazul_pass

# Spring Boot fuera de Docker: la app local usa estas variables
SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/piedrazul_dev?currentSchema=public
SPRING_DATASOURCE_USERNAME=piedrazul_user
SPRING_DATASOURCE_PASSWORD=piedrazul_pass
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://localhost:8180/realms/piedrazul

# Keycloak / OAuth2 para Spring Boot local
KEYCLOAK_SERVER_URL=http://localhost:8180
KEYCLOAK_REALM=piedrazul
KEYCLOAK_CLIENT_ID=piedrazul-backend
KEYCLOAK_CLIENT_SECRET=X7Ef99AJnumJQlqArO919NCTT4O63RaP

